html,
body {
    height: 100%;
    position: relative;
}

body {
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
    font-family: $fontFamilty, sans-serif;
    font-weight: $fontWeight;
    font-size: $fontSize + px;
    color: $basecolor;
}

.container {
     max-width: $maxWidth + px;
     padding: 0 15px;
     margin: 0 auto;
}

.bg-image {
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     img {
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          visibility: hidden;
     }
}

.site-container {
     display: flex;
     flex-direction: column;
     min-height: 100%;
     overflow-x: hidden;
}

.content {
     flex: 1 0 auto;
}

.footer {
     flex: 0 0 auto;
}
