// COLORS
$dark: #263238;
$green: #1BB55C;

// Default Fonts
$fontFamilty: "Inter";
$fontWeight: 400;
$fontSize: 14;
$basecolor: #263238;

// Container
$maxWidth: 1280;

// Break points
$ad1: 1400;
$ad2: 1200;
$ad3: 992;
$ad4: 768;
$ad5: 576;

